/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background: #FFCF73;
  margin:0 auto;
}

#body {
  width: 75%;
  margin:0 auto;
  max-width: 900px;
  min-width: 900px;
}

a {
  color:white;
  font-family: Lucida Grande;
  font-size: 12pt;
  text-decoration: none;
}

a:hover {
  text-shadow:  1px 1px 1px #000;
}

label {
  padding: .5em;
  border-radius: 5px;

  font-family: Lucida Grande;
  font-size: 16pt;
}

#ask {
  text-align: center;
  padding: 1em;
}
#ask > a {
  font-size: 24pt;
  color: #FF7600;
  text-shadow:  1px 1px 1px #000;
}

#ask > a:hover {
  font-size: 26pt;
  color: #FF7600;
  text-shadow:  1px 1px 1px white;
}

input {
  padding: .5em;
  border-radius: 5px;
  margin: 1em;
  font-size: 12pt;
}

textarea {
  margin: 1em;
  font-size: 12pt;
}

#flash {
  background: #A30008;
  width: 100%;
  font-family: Lucida Grande;
  font-size: 16pt;
  color: #33CEC3;
  margin: 0;
  padding: 1em;
  text-align: center;
}

#header {
  background: #FF0700;
  padding: .5em;
  box-shadow: 1px 1px 1px #000;
}

#header > a {
  font-family: Lucida Grande;
  font-size: 16pt;
  color: white;
}


.link {
  display: inline-block;
  font-size: 16pt;
  float: right;
}


#question_list {
  list-style: none;
  padding: 0;
  margin-left: 0;

}

#question_list > li {
  list-style: none;
  background: #009D91;
  display: inline-block;
  width: 96.1%;
  padding: .5em 1em;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #000;
  margin: 1em 0;
}

.title {
  background: #009D91;
  display: inline-block;
  width:96%;
  padding: .5em 1em;
  font-family: Lucida Grande;
  font-size: 12pt;
  color: white;
  box-shadow: 1px 1px 1px #000;
  display: inline-block;
  vertical-align: middle;
  line-height: 24pt;
}

.description {
  display: inline-block;
  width:85%;
  padding: 1em 2em;
  font-family: Lucida Grande;
  font-size: 12pt;
  color: black;
}

#edit_options {
  display: inline-block;
  float: right;
}

#edit_options > ul {
  line-height: 0;
  list-style: none;
  display: inline-block;
}


#edit_options > ul > li {
  display: inline-block;
  margin: 0 1em;
}

#answers {
  padding: 1em 2em;
  font-family: Lucida Grande;
  font-size: 12pt;
  color: black;

}

#delete > a {
  color: black;
  margin-top: .4em;
}







